<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>MantaMTA - @ViewBag.Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="/assets/css/app-base.css">
<link rel="stylesheet" type="text/css" href="/assets/css/fonts.css">
<link rel="stylesheet" type="text/css" href="/assets/css/jquery.jqplot.css">

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/plugins/jquery.sparkline.min.js"></script>
<script src="/assets/js/plugins/jquery.jqplot.min.js"></script>

<!--[if lt IE 9]>
<script src="/assets/js/html5shiv.js"></script>
<script src="/assets/js/plugins/excanvas.min.js"></script>
<![endif]-->
	
	<script type="text/javascript">
		$(document).ready(function () {
			$('#channel-content').css('min-height', $('#channel-menu').height());
		});
	</script>
</head>
<body>
<div id="wrap">
	<div id="system-head" class="container-fluid">
		<div class="row-fluid">
			<div id="system-head-left" class="span6">
				<span id="manta-logo"></span>
			</div>
			<div id="system-head-right" class="span6">
				<a href="javascript:void(0);">@DateTime.UtcNow.ToString("HH:mm dd MMM yy")</a>
			</div>
		</div>
	</div>
	<div id="app-head" class="container-fluid">
		<div class="row-fluid">
			<div id="header-title" class="span2"> </div>
			<div id="header-actions" class="span5">

			</div>
			<div id="header-controls" class="span5"> 
				<div class="row-fluid">
					<div class="span12">

					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="app-body" class="container-fluid">
		<div class="row-fluid">
			<div id="channel-menu" class="span2">
				<div class="sidebar-nav">
					<ul class="nav nav-list">
						<li><a href="/dashboard"><i class="icon-th-large icon-white"></i> Dashboard</a></li>
						<li><a href="/sends/queue"><i class="icon-time icon-white"></i> Queue</a></li>
						<li><a href="/sends"><i class="icon-random icon-white"></i> Sends</a></li>
						<li><a href="/bounces"><i class="icon-remove icon-white"></i> Bounces</a></li>
						<li><a href="/virtualmta"><i class="icon-envelope icon-white"></i> Virtual MTAs</a></li>
						<li><a href="/serverstatus"><i class="icon-tasks icon-white"></i> Server Status</a></li>
						<li><a href="/outboundrules"><i class="icon-cog icon-white"></i> Outbound Rules</a></li>
					</ul>
				</div>
			</div>
			
			<div id="channel" class="span10">
				<div id="channel-head">
					<ul class="breadcrumb">
						<li><a  class="active"href="#">@ViewBag.Title</a> <span class="divider">/</span></li>
					</ul>
				</div>
				<div id="channel-content">					
					<div class="row-fluid">
						@RenderBody()								
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>