body, html
{
	height: 100%;
	background: #80b8d8;
	font-family: 'Archivo Narrow', sans-serif;
}

*, html { -webkit-border-radius: 0px !important; -moz-border-radius: 0px !important; border-radius: 0px !important; text-shadow: none !important; }

a
{
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden;
}

/* Typography */
h1 { margin: 0; }
h1 span { color: #ccc; }

#system-head { height: 42px; line-height: 38px; background: #2a88c6; color: #999; font-size: 11px; }
#system-head a { color: #fff; line-height: 42px; margin: 0 10px 0 0; }
#system-head > .row-fluid { margin: 0; }
#system-head-left { }
#system-head-right { text-align: right; }
#manta-logo
{
	background: url(/img/manta-logo.png) left top no-repeat;
	width: 166px;
	height: 36px;
	margin-top: 4px;
	display: block;
}

#app-head { margin: 0; padding: 5px 0 0 0; }
#app-head a { color: #999;  font-size: 12px; }
#app-body { margin: 0; padding: 0; }

#header-controls { margin-left: 0; text-align: right; }
#header-controls a { color: #fff; }
#header-actions { margin-left: 0; }
#menu-user-controls { }

#channel-head { min-height: 26px; background-color: #003b5f;}
#channel-head-tools { text-align: right; }
#channel-head-tools a { margin-top: 4px; margin-right: 4px; }
#channel-head ul.breadcrumb { margin-bottom: 0; }
#channel-head ul.breadcrumb { padding: 9px 15px; }

#channel-content { background: #fff; padding: 20px; }
#channel-title { margin-bottom: 10px; line-height: 22px; }

#channel { margin-left: 0; }
#channel-menu { margin-top: 38px; }
#channel-menu ul.nav.nav-list { }
#channel-menu ul.nav.nav-list li { margin-bottom: 1px; }
#channel-menu ul.nav.nav-list li a { color: #fff; background: #2a88c6; text-shadow: none; text-transform: uppercase; }

#channel-menu ul.nav.nav-list li.active a:hover,
#channel-menu ul.nav.nav-list li.active a {color: #000;	background: #fff; }
#channel-menu ul.nav.nav-list li a:hover { background: #54a0d2; color: #fff; }
#channel-menu ul.nav.nav-list li.sidenav-active a { color: #666; background: #fff; }
#channel-menu .nav-list > li >a { padding: 9px 15px; }

#report-footer { text-align: right; font-size: 11px; color: #666; }

/* Tables */
table tbody tr td:hover { cursor: pointer; }
table tbody tr td.td-right { text-align: right; }
td input[type="checkbox"] { margin: 0; }


#form-master-search { margin: 0; }
#input-master-search { padding: 0 6px; font-size: 10.5px; }

/* Activity */
.widget-header h3 { font-size: 14px; margin: 0; padding: 0 0 10px 0; line-height: 100%; text-align: right; color: #999; }
.activity-excerpt { margin-bottom: 5px; padding: 5px; background-color: #f5f5f5; }
.activity-excerpt h4 { margin: 0; color: #999; }
.activity-excerpt h6 { margin: 0; }
h4.contact-name span.contact-org { font-size: 11px; color: #999; }

.progress { margin: 0; }

.contact-ratings h5 { margin: 0; }
.kpi-title { text-align: right; }
.kpi-number { text-align: right; font-size: 28px; }
 
.alert { margin-bottom: 5px; }
#contact-next-action h3 { margin: 0; line-height: 100%; }
#contact-next-action p { color: #999; }

/* Tables */
th.td-align-right, td.td-align-right { text-align: right; }
th.td-align-center, td.td-align-center { text-align: center; }
.table th, .table td { vertical-align: middle; }
th.total h3 { margin: 0; }

table.send-header { margin-bottom: 10px; font-size: 12px; }

td input, td select, td textarea { margin-bottom: 0px !important; }

/* Stats */
.stat-green { color: #2ecc71; }
.stat-grey { color: #34495E; }
.stat-orange { color: #f1c40f; }
.stat-red { color: #e74c3c; }
.stat-blue { color: #3498db; }

/* Tiles */
.tile { padding: 10px; text-align: right; color: #fff; margin-bottom: 20px; }
.tile h3 { font-size: 34px; }
.tile h6 { text-transform: uppercase; }
.tile-lightgrey { background-color: #eee; color: #555; }
.tile-midgrey { background-color: #ccc; }
.tile-green { background-color: #2ecc71; }
.tile-grey { background-color: #34495E; }
.tile-orange { background-color: #f1c40f; }
.tile-red { background-color: #e74c3c; }
.tile-blue { background-color: #3498db; }
.tile-turquoise { background-color: #1abc9c; }

/* Tabs */
ul.nav-tabs li a { color: #555; } 

/* Buttons */
.btn,
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 14.994px;
  font-weight: 500;
}
.btn {
  border: none;
  background: #bdc3c7;
  color: #ffffff;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.btn:hover,
.btn:focus,
.btn-group:focus .btn.dropdown-toggle {
  background-color: #cacfd2;
  color: #ffffff;
  outline: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.btn:active,
.btn-group.open .btn.dropdown-toggle,
.btn.active {
  background-color: #a1a6a9;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.disabled,
.btn[disabled] {
  background-color: #bdc3c7;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.btn.btn-large {
  font-size: 16.996px;
  line-height: 20px;
  padding: 12px 18px 13px;
}
.btn.btn-large > [class^="fui-"] {
  top: 0;
}
.btn.btn-large > [class^="fui-"].pull-right {
  margin-right: -2px;
}
.btn.btn-primary {
  background-color: #2a88c6;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn-group:focus .btn.btn-primary.dropdown-toggle {
  background-color: #80b8d8;
}
.btn.btn-primary:active,
.btn-group.open .btn.btn-primary.dropdown-toggle,
.btn.btn-primary.active {
  background-color: #2a88c6;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a
{
	background-color: #2a88c6;
}
.btn.btn-info {
  background-color: #3498db;
}
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn-group:focus .btn.btn-info.dropdown-toggle {
  background-color: #5dade2;
}
.btn.btn-info:active,
.btn-group.open .btn.btn-info.dropdown-toggle,
.btn.btn-info.active {
  background-color: #2c81ba;
}
.btn.btn-danger {
  background-color: #e74c3c;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn-group:focus .btn.btn-danger.dropdown-toggle {
  background-color: #ec7063;
}
.btn.btn-danger:active,
.btn-group.open .btn.btn-danger.dropdown-toggle,
.btn.btn-danger.active {
  background-color: #c44133;
}
.btn.btn-success {
  background-color: #2ecc71;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn-group:focus .btn.btn-success.dropdown-toggle {
  background-color: #58d68d;
}
.btn.btn-success:active,
.btn-group.open .btn.btn-success.dropdown-toggle,
.btn.btn-success.active {
  background-color: #27ad60;
}
.btn.btn-warning {
  background-color: #f1c40f;
}
.btn.btn-warning:hover,
.btn.btn-warning:focus,
.btn-group:focus .btn.btn-warning.dropdown-toggle {
  background-color: #f5d313;
}
.btn.btn-warning:active,
.btn-group.open .btn.btn-warning.dropdown-toggle,
.btn.btn-warning.active {
  background-color: #cda70d;
}
.btn.btn-inverse {
  background-color: #34495e;
}
.btn.btn-inverse:hover,
.btn.btn-inverse:focus,
.btn-group:focus .btn.btn-inverse.dropdown-toggle {
  background-color: #415b76;
}
.btn.btn-inverse:active,
.btn-group.open .btn.btn-inverse.dropdown-toggle,
.btn.btn-inverse.active {
  background-color: #2c3e50;
}
.btn > [class^="fui-"] {
  margin: 0 4px;
  position: relative;
  top: 1px;
  vertical-align: top;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.btn > [class^="fui-"].pull-right {
  margin-right: 0px;
}
.btn-toolbar .btn.active {
  color: #ffffff;
}
.btn-toolbar .btn:first-child {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.btn-toolbar .btn:last-child {
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
.btn-toolbar .btn > [class^="fui-"] {
  font-size: 16px;
  top: 0;
}
.btn-tip {
  font-weight: 300;
  padding-left: 10px;
}
.btn-group > .btn {
  border-radius: 0;
  text-align: center;
}
.btn-group > .btn:active + .btn,
.btn-group > .btn.active + .btn {
  border-left-color: transparent;
}
.btn-group > .btn:first-of-type {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.btn-group > .btn:last-of-type {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.btn-group > .btn + .btn {
  margin-left: 0;
}
.btn-group > .btn + .dropdown-toggle {
  border-left: 2px solid rgba(52, 73, 94, 0.15);
  padding-left: 13px;
  padding-right: 13px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-group > .btn + .dropdown-toggle .caret {
  margin-left: 3px;
  margin-right: 3px;
}
.btn-group > .btn.btn-huge + .dropdown-toggle .caret {
  margin-left: 7px;
  margin-right: 7px;
}
.btn-group > .btn.btn-small + .dropdown-toggle .caret {
  margin-left: 0;
  margin-right: 0;
}
.caret {
  border-left-width: 6px;
  border-right-width: 6px;
  border-top-width: 8px;
  border-bottom-color: #34495e;
  border-style: solid;
  border-bottom-style: none;
  border-top-color: #34495e;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.dropup .caret,
.dropup .btn-large .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-bottom-width: 8px;
}
.btn-mini { padding: 5px 6px 5px; }
.btn-mini .caret,
.btn-small .caret,
.btn-large .caret {
  margin-top: 7px;
}
.btn-large .caret {
  border-top-width: 8px;
  border-right-width: 6px;
  border-left-width: 6px;
}
.btn-small [class^="icon-"], .btn-small [class*=" icon-"] { margin-top: 2px; }
.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] { margin-top: 2px; }

/* Navbar */
.navbar {
  font-size: 15.988px;
}
.navbar .brand {
  border-radius: 6px 0 0 6px;
  color: #000;
  font-size: 23.996px;
  font-weight: 700;
  margin-left: 0;
  padding: 10px 20px 10px 20px;
  text-shadow: none;
}
.navbar .brand:hover,
.navbar .brand:focus {
  color: #2a88c6;
}
.navbar .brand[class*="fui-"] {
  font-weight: normal;
}
.navbar .nav {
  margin-right: 0;
}
.navbar .nav > li {
  position: relative;
}
.navbar .nav > li:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
  z-index: 100;
  -webkit-transform: scale(1, 1);
  display: block\9;
}
.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover,
.navbar .nav > li.active > a:focus {
  background: none;
  color: #2a88c6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .nav > li > ul {
  padding-top: 13px;
  top: 80%;
}
.navbar .nav > li > ul:before {
  content: "";
  border-style: solid;
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #34495e transparent;
  height: 0;
  position: absolute;
  left: 15px;
  top: 5px;
  width: 0;
  -webkit-transform: rotate(360deg);
}
.navbar .nav > li > ul li:hover ul {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  visibility: visible;
  display: block\9;
}
.navbar .nav > li > ul li ul {
  left: 100%;
}
.navbar .nav > li > a {
  color: #000;
  font-weight: 700;
  font-size: 14.994px;
  padding: 10px 20px 10px 20px;
  text-shadow: none;
  -webkit-transition: background-color .25s, color .25s, border-bottom-color .25s;
  -moz-transition: background-color .25s, color .25s, border-bottom-color .25s;
  -o-transition: background-color .25s, color .25s, border-bottom-color .25s;
  transition: background-color .25s, color .25s, border-bottom-color .25s;
  -webkit-backface-visibility: hidden;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #2a88c6;
}
.navbar .nav > li > a[class*="fui-"] {
  font-size: 24px;
  font-weight: normal;
}
.navbar .nav > li > a > [class*="fui-"] {
  font-size: 24px;
  margin: -4px 0 0;
  position: relative;
  top: 4px;
}
.navbar .nav > li > a > [class*="fui-"] + * {
  margin-left: 12px;
}
.navbar .nav > li:first-child > a {
  -webkit-border-radius: 0 0 0 6px;
  -moz-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}
.navbar .nav ul {
  border-radius: 4px;
  left: 0;
  list-style-type: none;
  margin-left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 234px;
  z-index: -100;
  -webkit-transform: scale(1, 0.99);
  -webkit-transform-origin: 0 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-backface-visibility: hidden;
}
.navbar .nav ul ul {
  left: 95%;
  padding-left: 5px;
}
.navbar .nav ul li {
  background-color: #34495e;
  padding: 0 3px 3px;
  position: relative;
}
.navbar .nav ul li:first-child {
  border-radius: 6px 6px 0 0;
  padding-top: 3px;
}
.navbar .nav ul li:last-child {
  border-radius: 0 0 6px 6px;
}
.navbar .nav ul li.active > a,
.navbar .nav ul li.active > a:hover,
.navbar .nav ul li.active > a:focus {
  background-color: #1abc9c;
  color: #ffffff;
  padding-left: 9px;
  padding-right: 9px;
}
.navbar .nav ul li.active + li > a {
  padding-left: 9px;
  padding-right: 9px;
}
.navbar .nav ul a {
  border-radius: 2px;
  color: #ffffff;
  display: block;
  font-size: 14px;
  padding: 6px 9px;
  text-decoration: none;
}
.navbar .nav ul a:hover {
  background-color: #1abc9c;
}
.navbar .btn-navbar {
  background: none;
  border: none;
  color: #34495e;
  margin: 21px 15px 17px;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus {
  background: none;
  color: #1abc9c;
}
.navbar .btn-navbar:before {
  content: "\e00c";
  font-family: "Flat-UI-Icons";
  font-size: 21.994px;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.navbar .btn-navbar .icon-bar {
  display: none;
}
.navbar-inner {
  background: #eceef0;
  border: none;
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#channel-menu .nav-list > .active > a > [class^="icon-"] {
background-image: url("/img/glyphicons-halflings.png") !important;
}

#channel-menu .nav-list  > li > a > [class^="icon-"] {
background-image: url("/img/glyphicons-halflings-white.png") !important;
}

