@font-face {
	font-family: 'Archivo Narrow';
	font-style: normal;
	font-weight: 400;
	src: local('Archivo Narrow Regular'), local('ArchivoNarrow-Regular'), url(/content/fonts/ArchivoNarrow-Regular.ttf) format('woff');
}
@font-face {
	font-family: 'Archivo Narrow';
	font-style: normal;
	font-weight: 700;
	src: local('Archivo Narrow Bold'), local('ArchivoNarrow-Bold'), url(/content/fonts/ArchivoNarrow-Bold.ttf) format('woff');
}
@font-face {
	font-family: 'Archivo Narrow';
	font-style: italic;
	font-weight: 400;
	src: local('Archivo Narrow Italic'), local('ArchivoNarrow-Italic'), url(/content/fonts/ArchivoNarrow-Italic.ttf) format('woff');
}
@font-face {
	font-family: 'Archivo Narrow';
	font-style: italic;
	font-weight: 700;
	src: local('Archivo Narrow Bold Italic'), local('ArchivoNarrow-BoldItalic'), url(/content/fonts/ArchivoNarrow-BoldItalic.ttf) format('woff');
}