body { background-color: #cfe9fa; color: #444; padding: 0; }
#app-canvas { 
	padding: 20px; 
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #fff; 
	margin-bottom: 20px;
}
 
h1 { color: #2980b9; }
.title-aside { font-size: 60%; color: #666; }
.title-aside select { margin: 0; }
.title-send-id { color: #ccc; }

#masthead { padding: 10px 0; }
#system-menu { text-align: right; }
.footer-timestamp { text-align: right; color: #666; font-size: 11px; }

/* Nav */
.navbar { margin-bottom: 5px; }
.navbar-manta { background: #2980b9; }
.nav-collapse .collapse > .nav { background: #2980b9; }
.navbar .nav > li > a { color: #fff; padding: 10px; }
.navbar .nav > li.active > a, .navbar .nav > li.active > a:hover, .navbar .nav > li.active > a:focus { background-color: #3498db; color: #fff;}
.navbar .nav > li > a:hover, .navbar .nav > li.active > a:hover { color: #fff; text-decoration: underline; }

/* Breadcrumbs */
.breadcrumb {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

/* Sidenav */
.sidenav > li > a { color: #2980b9; margin: 0 0 -1px;  text-decoration: none; }
.sidebar > li.active > a { background-color: #48c9b0; }
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
	color: #444;
	cursor: default;
	background-color: #d6dbdf;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}
.sidenav .icon-chevron-right {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .25;
}


/* Tables */
th.td-align-right, td.td-align-right { text-align: right; }
th.td-align-center, td.td-align-center { text-align: center; }
.table th, .table td { vertical-align: middle; }
th.total h3 { margin: 0; }
th.total { border: 1px solid #ddd; }

table.send-header { margin-bottom: 10px; font-size: 12px; }

/* Buttons */
.btn-small { padding: 3px 10px 3px 10px; font-size: 13px; }
.btn-small [class^="icon-"], .btn-small [class*=" icon-"] {
margin-top: 1px;
}

/* Stats */
.stat-green { color: #2ecc71; }
.stat-grey { color: #34495E; }
.stat-orange { color: #f1c40f; }
.stat-red { color: #e74c3c; }
.stat-blue { color: #3498db; }

/* Tiles */
.tile { padding: 10px; text-align: right; color: #fff; margin-bottom: 20px; }
.tile h3 { font-size: 34px; }
.tile-midgrey { background-color: #ccc; }
.tile-green { background-color: #2ecc71; }
.tile-grey { background-color: #34495E; }
.tile-orange { background-color: #f1c40f; }
.tile-red { background-color: #e74c3c; }
.tile-blue { background-color: #3498db; }
.tile-turquoise { background-color: #1abc9c; }